# GitLab Config
GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=seu_token_aqui
PROJECT_ID=123456

# Banco de Dados Config
POSTGRES_DB=gitlab_metrics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db

# Sync Config
SYNC_TIME=23:59
